<label>From</label>
<input type="text" name="from" class="datepicker">
<label>To</label>
<input type="text" name="to" class="datepicker">
<button id="filter" type="submit" class="btn btn-primary btn-small">Filter</button>
<a href="#" class="pull-right"><i class="icon-repeat"></i> Reset</a>