<label>Price</label>
<input name="price" type="text" value="<%= expense.escape('price') %>">
<label>Tags</label>
<input name="tag_list" type="text" value="<%= expense.escape('tag_list') %>">
<label>Date</label>
<input name="date" type="text" placeholder="DD/MM/YYYY" value="<%= expense.escape('date') %>">
<label>Description</label>
<textarea name="description" rows="2"><%= expense.escape('description') %></textarea>
<button type="submit">Add</button>
