<div class="span10 offset1 inner-wrapper">
  <div class="span4">
    <section class="expense-form"></section>
    <section class="preferences"></section>
  </div>
  <section class="expenses span7 offset1"></section>
</div>
