<form class="well">
  <legend>Filters</legend>
  <fieldset>
    <label>Time</label>
    <select id="interval" name="interval"></select>
    <div id="interval_span"></div>
    <div id="tags_filter_container"></div>
    <button id="filter" type="submit" class="btn btn-primary btn-small">Filter</button>
    <a href="#" class="pull-right"><i class="icon-repeat"></i> Reset</a>
  </fieldset>
</form>